.containerLight,
.containerDark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.containerLight {
  background-color: var(--Light_Mode_BG);
}

.containerDark {
  background-color: var(--Dark_Mode_BG);
}

.textInputLight,
.textInputDark {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 35%;
}

.textInputLight {
  background-color: var(--Dark_Mode_Text);
  box-shadow: 0rem 0rem 1.5rem var(--Border_Light);
  color: var(--Light_Mode_Text);
}

.textInputDark {
  background-color: var(--Dark_Elements);
  box-shadow: 0rem 0rem 1.5rem var(--Border_Dark);
  color: var(--Dark_Mode_Text);
}

.textInputLight::placeholder {
  padding-left: 2rem;
  color: var(--Light_Mode_Text);
  background-image: url("./magnifying-glass-light.svg");
  background-repeat: no-repeat;
}

.textInputDark::placeholder {
  padding-left: 2rem;
  color: var(--Dark_Mode_Text);
  background-image: url("./magnifying-glass-dark.svg");
  background-repeat: no-repeat;
}

.selectInputLight,
.selectInputDark {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.selectInputLight {
  background-color: var(--Dark_Mode_Text);
  box-shadow: 0rem 0rem 1.5rem var(--Border_Light);
  color: var(--Light_Mode_Text);
}

.selectInputDark {
  background-color: var(--Dark_Elements);
  box-shadow: 0rem 0rem 1.5rem var(--Border_Dark);
  color: var(--Dark_Mode_Text);
}

@media only screen and (max-width: 600px) {
  .textInputLight,
  .textInputDark {
    width: 50%;
  }
}
