.containerLight,
.containerDark {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.containerLight {
  background-color: var(--Light_Mode_BG);
}

.containerDark {
  background-color: var(--Dark_Mode_BG);
}

@media only screen and (max-width: 600px) {
  .containerLight,
  .containerDark {
    min-height: 68vh;
  }
}
