.containerLight {
  background-color: var(--Light_Mode_BG);
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px 0px 2px 2px var(--Border);
}

.titleLight {
  color: var(--Light_Mode_Text);
}

.darkModeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.iconLabelLight {
  margin-left: 1rem;
  color: var(--Light_Mode_Text);
}

.iconLabelDark {
  margin-left: 1rem;
  color: var(--Dark_Mode_Text);
}

.icon {
  height: 80%;
}

.containerDark {
  background-color: var(--Dark_Mode_BG);
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px 0px 2px 2px var(--Border);
}

.titleDark {
  color: var(--Dark_Mode_Text);
}
