.containerLight {
  background-color: var(--Light_Mode_BG);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid var(--Border_Light);
}

.titleLight {
  color: var(--Light_Mode_Text);
}

.darkModeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.iconLabelLight {
  margin-left: 1rem;
  color: var(--Light_Mode_Text);
}

.iconLabelDark {
  margin-left: 1rem;
  color: var(--Dark_Mode_Text);
}

.icon {
  height: 1.5rem;
}

.containerDark {
  background-color: var(--Dark_Mode_BG);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid var(--Border_Dark);
}

.titleDark {
  color: var(--Dark_Mode_Text);
}
