.containerLight,
.containerDark {
  min-height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  position: relative;
}

.containerLight {
  background-color: var(--Light_Mode_BG);
}

.containerDark {
  background-color: var(--Dark_Mode_BG);
}

.buttonLight,
.buttonDark {
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 1rem 3rem;
  cursor: pointer;
}

.buttonLight {
  background-color: var(--Dark_Mode_Text);
  box-shadow: 0rem 0rem 1.5rem var(--Border_Light);
  color: var(--Light_Mode_Text);
}

.buttonDark {
  background-color: var(--Dark_Elements);
  box-shadow: 0rem 0rem 1.5rem var(--Border_Dark);
  color: var(--Dark_Mode_Text);
}

.buttonContainerLight,
.buttonContainerDark {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttonContainerLight {
  background-color: var(--Light_Mode_BG);
}

.buttonContainerDark {
  background-color: var(--Dark_Mode_BG);
}

@media only screen and (max-width: 600px) {
  .containerLight,
  .containerDark {
    min-height: 68vh;
  }
}
