@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --Dark_Elements: hsl(209, 23%, 22%) /*(Dark Mode Elements)*/;
  --Dark_Mode_BG: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --Light_Mode_Text: rgb(17, 21, 23);
  --Border_Light: rgb(17, 21, 23, 0.1);
  --Border_Dark: #00111f;
  --Dark_Gray: hsl(0, 0%, 52%); /*(Light Mode Input)*/
  --Light_Mode_BG: hsl(0, 0%, 98%);
  --Dark_Mode_Text: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  transition: 0.3s linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}
